@media (min-width: 900px){
    main{
        padding-inline: 3rem;
    }
    
    main img{
        width: 40rem;
    }

    p{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    h1,h2 {
        font-size: 3rem;
    }

    h2{
        margin-top: 6rem;
    }

    h3{
        font-size: 2rem;
        margin-top: 6rem;
    }

    section img{
        width: 20rem;
    }
}